<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--<add name="HKSPA_copy_old_data.Properties.Settings.HKSPAConnectionString"
             connectionString="Data Source=.\sqlexpress;Initial Catalog=HKSPA_dev;Integrated Security=True"
                providerName="System.Data.SqlClient" />-->
  
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="HKSPA_copy_old_data.Properties.Settings.HKSPAConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=HKSPA_dev;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="HKSPA_copy_old_data.Properties.Settings.HKSPA_devConnectionString"
      connectionString="Data Source=.\SQLExpress;Initial Catalog=HKSPA_dev;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
   
    <!--copy data interval-->
    <add key="CopyDataInterval" value="3000" />
  </appSettings>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>